<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenidos a La empresa Transportes ACME S.A.</h1>
      <p class="lead">Su compañía de transporte de confianza</p>
      <hr class="my-4">
      <p>Ofrecemos soluciones de transporte eficientes y seguras para satisfacer sus necesidades.</p>
    </div>
  
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/vehiculos.jpg" class="card-img-top" alt="Vehículos">
          <div class="card-body">
            <h5 class="card-title">Informes de Vehículos</h5>
            <p class="card-text">Acceda a información detallada sobre nuestra flota.</p>
            <a routerLink="/informe-vehiculo" class="btn btn-primary">Ver informes</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/propietarios.jpg" class="card-img-top" alt="Propietarios">
          <div class="card-body">
            <h5 class="card-title">Informes de Propietarios</h5>
            <p class="card-text">Conozca a nuestros propietarios de vehiculos.</p>
            <a routerLink="/informe-dueno" class="btn btn-primary">Ver informes</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/conductores.jpg" class="card-img-top" alt="Conductores">
          <div class="card-body">
            <h5 class="card-title">Informes de Conductores</h5>
            <p class="card-text">Descubra a nuestros conductores</p>
            <a routerLink="/informe-conductor" class="btn btn-primary">Ver informes</a>
          </div>
        </div>
      </div>
    </div>
  </div>