<div class="container mt-5">
    <h2>Formulario para modulo nuevos conductores</h2>
    <form class="mt-3">
      <div class="form-group">
        <label for="numeroCedula">Número de Cédula:</label>
        <input type="number" id="numeroCedula" name="numeroCedula" class="form-control" [(ngModel)]="numeroCedula" required>
      </div>
      <div class="form-group">
        <label for="primerNombre">Primer Nombre:</label>
        <input type="text" id="primerNombre" name="primerNombre" class="form-control" [(ngModel)]="primerNombre" required>
      </div>
      <div class="form-group">
        <label for="segundoNombre">Segundo Nombre:</label>
        <input type="text" id="segundoNombre" name="segundoNombre" class="form-control" [(ngModel)]="segundoNombre" required>
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" class="form-control" [(ngModel)]="apellidos">
      </div>
      <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" class="form-control" [(ngModel)]="direccion">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" class="form-control" [(ngModel)]="telefono">
      </div>
      <button class="btn btn-primary" (click)="agregarConductor()">Agregar Conductor</button>
    </form>
  </div>
  